<div class="container" data-controller="score-modal">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">Contestants</h1>
        <div class="w-25">
            <select class="form-select w-100" id="scoreDropdown">
              <% Rating::EXPOSURE.each_with_index do |exposure, index| %>
                <option value="<%= index %>"><%= exposure %></option>
              <% end %>
            </select>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th style="width: 10%;">Score</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <% @contestants.each do |contestant| %>
                <tr>
                    <td><%= contestant.full_name %></td>
                    <td> <%= render partial: 'contestants/score_modal', locals: { rating: contestant.ratings.first } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
