<div class="container mt-5" data-controller="score-modal">
  <div class="row mb-3">
    <div class="col">
      <h1 class="mb-0">Contestants</h1>
    </div>
    <div class="col-md-auto">
      <div class="w-100">
        <select class="form-select w-100" id="scoreDropdown">
          <% Rating::EXPOSURE.each_with_index do |exposure, index| %>
            <option value="<%= index %>"><%= exposure %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead class="table-secondary">
          <tr>
            <th>Name</th>
            <th style="width: 10%;">Score</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% @contestants.each do |contestant| %>
            <tr>
              <td><%= contestant.full_name %></td>
              <td> <%= render partial: 'contestants/score_modal', locals: { rating: contestant.ratings.first } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
