<div class="topbar pt-3">
  <div class="container-fluid d-flex" data-controller='admin--sidenav'>
    <%= image_tag "menu-icon.svg", style:"height: 40px; width: 40px;", class: "mt-3 me-2", data: { action: 'click->admin--sidenav#toggle' }, alt: "menu icon"%>
    <h2 class="mt-3"> Contestant Management</h2>
  </div>
</div>
<div>
  <div class="d-flex justify-content-end mr-0 mt-4 mb-3">
    <%= render partial: 'admin/contestants/add_contestant_modal', locals: { contestant: Contestant.new, admin: current_user } %>
  </div>
  <table class="table table-striped">
    <thead class="table-secondary">
      <tr>
        <th>Name</th>
        <th style="width: 10%;">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @contestants.each do |contestant| %>
        <tr>
          <td><%= contestant.full_name %></td>
          <td> <%= render partial: 'admin/contestants/action_contestant_modal', locals: { contestant: contestant, admin: current_user } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>