<nav class="sidebar bg-secondary vh-100 pt-5">
  <h2 class="text-center text-light">Tabular Track</h2>
  <h3 class="text-center text-light">Admin</h3>
  <ul class="nav flex-column mt-4 p-2">
    <li class="nav-item">
      <%= link_to "User Management", admin_members_path, class: "nav-link text-light active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Contestant Management", admin_contestants_path, class: "nav-link text-light active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Total Tally", admin_ratings_path, class: "nav-link text-light active" %>
    </li>
  </ul>
</nav>