<% if notice %>
  <p class="alert alert-success text-center mt-3 px-5 float-end flash-message" data-controller="flash-message"><%= notice %></p>
<% elsif alert %>        
  <p class="alert alert-warning text-center mt-3 px-5 float-end flash-message" data-controller="flash-message"><%= alert %></p>
<% end %>
