/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body{
  background-color: rgb(243, 243, 243);
}
.content {
  @extend .container;
}
header {
  h1 {
    margin-left: 15px;
  }

  .left {
      list-style: none;
  }

  a {
      text-decoration: none;
  }
  .left {
      display: flex;
      align-items: center;
      margin-top: 10px;
      padding:5px;
      a {
          margin-left: 10px;
      }
  }
  .right-nav {
      display:flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: 0;
  }

  .button{
      padding: 7px;
      background: rgb(57, 100, 255);
      color: white;
      border-radius: 10px;
      text-decoration: none;
  }
  .button:hover {
      background:white;
      border: 1px solid rgb(57, 100, 255);
      color: rgb(57, 100, 255);
  }
}
