<% if notice %>
  <p class="alert alert-success text-center flash-message" data-controller="flash-message"><%= notice %></p>
<% elsif alert %>        
  <p class="alert alert-warning text-center flash-message" data-controller="flash-message"><%= alert %></p>
<% end %>
